# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
*.tsbuildinfo
.next/
out/

# local data & secrets (NEVER commit)
*.local
.env
.env.*
!.env.example
.helmsman/
*.vault
*.sqlite
*.sqlite-*
data/

# logs
*.log
logs/

# editor / os
.idea/
.vscode/
.DS_Store
